# WorkShift 
Auto arranges a scheadule for work based on days of work and how long is the period of work.
Creates a `.xlsx` file with all days distribuited accordingly to the user input.

### License
[MIT License](https://choosealicense.com/licenses/mit/)
Copyright (c) [2021] [Arthur Ferreira Rodrigues]

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

## User Input

In [2]:
import calendar
import pandas as pd

year = int(input("Digite o Ano : "))
monthStart = int(input("Digite o Mês de Início : "))
monthFinish = int(input("Digite o Mês de Término : "))
totalTime = monthFinish - monthStart

name = input("Nome do(s) Monitor(es) (Ex: Arthur,Ferreira) : ").split(",")
quant = len(name)

distDays = input("\nDias da Semana a Serem Distribuídos \n(Ex : 0,2,6 - Onde 0 é Segunda e 6 é Domingo) : ").split(",")
distDays = list(map(int, distDays))

## Initializing and filling Matrixes

In [ ]:
# Initialize a tridimensional matrix -> [IdexOfName[DaysInTimeWindow[Day,month,year]]]
work_shift = [[0 for j in range(
    31*totalTime)] for i in range(quant)]

inCharge = 0  # In charge of this especific day
totalWorkLoad = [0 for i in range(quant)]  # Quantity of days registered / Name

In [3]:
for month in range(monthStart, monthFinish):
    x, month_days = calendar.monthrange(year, month)
    # for weekday->0,2,3 = Monday, Wednesday, Thursday
    for day in range(1,month_days+1):
        weekday = calendar.weekday(year, month, day)
        if(weekday in distDays):
            arr = [day,month,year]
            calendar_day = '/'.join(str(x) for x in arr)

            work_shift[inCharge][totalWorkLoad[inCharge]] = calendar_day
            totalWorkLoad[inCharge] += 1
            inCharge += 1
            if(inCharge == quant):
                inCharge = 0

## Creating a New DataFrame

In [ ]:
df = pd.DataFrame(work_shift[0])
df = df.rename(columns= {0:name[0]})

## Inserting all values to the DataFrame

In [4]:
for i in range(1,quant):
    df.insert(loc=len(df.columns), column=name[i], value=work_shift[i])
    
df

        Arthur    Augusto    Eduardo
0     3/1/2022   4/1/2022  10/1/2022
1    11/1/2022  17/1/2022  18/1/2022
2    24/1/2022  25/1/2022  31/1/2022
3     1/2/2022   7/2/2022   8/2/2022
4    14/2/2022  15/2/2022  21/2/2022
..         ...        ...        ...
274          0          0          0
275          0          0          0
276          0          0          0
277          0          0          0
278          0          0          0

[279 rows x 3 columns]

## Filtering zeroed fields

In [7]:
df = df.loc[(df!=0).any(1)]
df

       Arthur    Augusto    Eduardo
0    3/1/2022   4/1/2022  10/1/2022
1   11/1/2022  17/1/2022  18/1/2022
2   24/1/2022  25/1/2022  31/1/2022
3    1/2/2022   7/2/2022   8/2/2022
4   14/2/2022  15/2/2022  21/2/2022
5   22/2/2022  28/2/2022   1/3/2022
6    7/3/2022   8/3/2022  14/3/2022
7   15/3/2022  21/3/2022  22/3/2022
8   28/3/2022  29/3/2022   4/4/2022
9    5/4/2022  11/4/2022  12/4/2022
10  18/4/2022  19/4/2022  25/4/2022
11  26/4/2022   2/5/2022   3/5/2022
12   9/5/2022  10/5/2022  16/5/2022
13  17/5/2022  23/5/2022  24/5/2022
14  30/5/2022  31/5/2022   6/6/2022
15   7/6/2022  13/6/2022  14/6/2022
16  20/6/2022  21/6/2022  27/6/2022
17  28/6/2022   4/7/2022   5/7/2022
18  11/7/2022  12/7/2022  18/7/2022
19  19/7/2022  25/7/2022  26/7/2022
20   1/8/2022   2/8/2022   8/8/2022
21   9/8/2022  15/8/2022  16/8/2022
22  22/8/2022  23/8/2022  29/8/2022
23  30/8/2022   5/9/2022   6/9/2022
24  12/9/2022  13/9/2022  19/9/2022
25  20/9/2022  26/9/2022  27/9/2022

## Exporting to excel

In [11]:
df.to_excel('data_frame.xlsx',sheet_name='Distribuition', header=True, index=False)